@font-face {
    font-family: 'Open-Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open_Sans/OpenSans-Regular.ttf'),
        url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

.App {
    text-align: center;
    font-family: 'Open-Sans';
}

.wrapper {
    min-height: 100%;
    margin-bottom: -30px;
}

.footer {
    height: 30px;
}

.search-wrapper {
    margin-bottom: 15px;
}
